// dift-table
.file-header {
  background-color: #efefef;
  padding: 1em 2em;
  border-radius: 3px;
}

.dt-wrapper {
  border-color: #efefef;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.diff-table {
  font-size: 1em;

  width: 100%;
}

.dt-no-num {
  border-bottom-width: 1px;
  border-top-width: 1px;
  background-color: #edf2f9;
}

.dt-line-num {
  width: 50px;
  padding: 0 10px 0 10px;
  color: rgba(0,0,0,0.3);
  text-align: right;
  font-size: 12px;

  border-color: #efefef;
  border-style: solid;
  border-width: 0 1px 0 0;
}

.dt-code {
  padding: 0 10px 0 10px;
  word-break: break-all;
  font-size: 13px;
}

.dt-code-block {
  padding: 4px 10px;
  border-bottom-width: 1px;
  color: rgba(0,0,0,0.3);
  background-color: #f4f7fb;
  font-size: 12px;
}

.dt-addition {
  .dt-line-num {
    background-color: #dbffdb;
    border-color: #c1e9c1;
  }

  .dt-code {
    background-color: #eaffea;
  }
}

.dt-deletion {
  .dt-line-num {
    background-color: #ffdddd;
    border-color: #f1c0c0;
  }

  .dt-code {
    background-color: #ffecec;
  }
}


// global


.no-overscroll { // To be added to body to disable overscroll
  height: 100%;
  width: 100%;
  overflow: hidden;
}


// Wizard

.w-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;

  &.container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  .wizard {
    flex: auto;
  }

  .w-header {
    height: 40px;
    background-color: #eee;
    text-align: center;
  }

  .w-sidebar {
    flex: auto;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #eee;
    padding-right: 0;
    padding-left: 0;
  }

  .w-main {
    flex: auto;
    // flex-direction: column;
    padding: 0;
    display: flex;
  }


  .w-sidebar-footer {
    background-color: #eceeef;
    height: 40px;
    text-align: center;
  }

  .w-preview {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}

// Preview

.preview {
  width: 100%;
  padding: 1em 2em;
  overflow: scroll;
  flex: 1;

  .section {
    margin-bottom: 10px;
  }
}

// File list

.file-list-container {
  flex: 1;
  overflow-y: scroll;
  padding-left: 10px;
  padding-right: 10px;

  .file-list {

     .file-item {
       padding: 12px 20px;
       font-size: 14px;
       cursor: pointer;
       border-bottom: 1px solid #eee;

       &:hover {
         background-color: #eee;
       }
     }
  }
}

// Actionb bar

.action-bar {
  background-color: #ECEEEF;
  flex: none;
  height: 40px;
  padding: 5px 20px;

  .current-progress {
    display: inline-block;
    padding: 0 2em;
  }

  .navgiation {
    display: inline-block;
  }

  .actions {
    display: inline-block;
  }

  div {
    display: inline-block;
  }
}

// home

.hero {
  padding: 4em 0;
  text-align: center;

  .heading {
    font-size: 2.6em;
    margin-bottom: 16px;
  }

  .sub-heading {
    color: #696969;
    font-size: 27px;
  }
}

.features {

  .feature {
    text-align: center;
  }
}

// header

.avatar {
  width: 36px;
  border-radius: 50%;
}


// global

.hidden {
  display: none;
}

.btn {
  .fa {
    margin-right: 10px;
  }
}

.mr10 {
  margin-right: 10px;
}

.mr20 {
  margin-right: 20px;
}

.ml10 {
  margin-left: 10px;
}

.ml20 {
  margin-left: 20px;
}

// repo list

.repo-list-container {
  margin-top: 20px;
}

.repo-item {
  background-color: #F1F1F1;
  padding: 0.8em;
  margin-bottom: 10px;
  overflow: auto;

  &:hover {
    background-color: #FDFDFD;
  }

  a {
    color: inherit;
  }

  .repo-name {
    display: inline-block;
    margin-left: 5px;
  }
}

// pull request list

.pr-item {
  cursor: pointer;
}


// repo-name

.wizard-launcher {
  margin-bottom: 30px;
}

// footer

.main-footer {
  text-align: center;
  padding: 50px 0;
}


.main {
  padding-top: 30px;
}
