// dift-table
.file-header {
  background-color: #efefef;
  padding: 1em 2em;
  border-radius: 3px;
}

.dt-wrapper {
  border-color: #efefef;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.diff-table {
  font-size: 1em;

  width: 100%;
}

.dt-no-num {
  border-bottom-width: 1px;
  border-top-width: 1px;
  background-color: #edf2f9;
}

.dt-line-num {
  width: 50px;
  padding: 0 10px 0 10px;
  color: rgba(0,0,0,0.3);
  text-align: right;
  font-size: 12px;

  border-color: #efefef;
  border-style: solid;
  border-width: 0 1px 0 0;
}

.dt-code {
  padding: 0 10px 0 10px;
  word-break: break-all;
  font-size: 13px;
}

.dt-code-block {
  padding: 4px 10px;
  border-bottom-width: 1px;
  color: rgba(0,0,0,0.3);
  background-color: #f4f7fb;
  font-size: 12px;
}

.dt-addition {
  .dt-line-num {
    background-color: #dbffdb;
    border-color: #c1e9c1;
  }

  .dt-code {
    background-color: #eaffea;
  }
}

.dt-deletion {
  .dt-line-num {
    background-color: #ffdddd;
    border-color: #f1c0c0;
  }

  .dt-code {
    background-color: #ffecec;
  }
}


// global


.no-overscroll { // To be added to body to disable overscroll
  height: 100%;
  width: 100%;
  overflow: hidden;
}


// Wizard

.w-container {
  height: 100vh;
  display: flex;
  // flex-direction: column;

  .wizard {
    flex: auto;
  }

  .w-sidebar {
    flex: auto;
    display: flex;
    flex-direction: column;
    padding: 0;
    border-right: 1px solid #eee;
  }

  .w-main {
    flex: auto;
    display: flex;
    flex-direction: column;
    padding: 0;
  }


  .w-sidebar-footer {
    background-color: #eceeef;
    flex: none;
    height: 40px;
  }
}

// Preview

.preview {
  width: 100%;
  padding: 1em 2em;
  overflow: scroll;
  flex: 1
}

// File list

.file-list-container {
  flex: 1;
  overflow-y: scroll;

  .file-list {

     .file-item {
       padding: 12px 20px;
       font-size: 14px;
       cursor: pointer;
       border-bottom: 1px solid #eee;

       &:hover {
         background-color: #eee;
       }
     }
  }
}

// Actionb bar

.action-bar {
  background-color: #ECEEEF;
  flex: none;
  height: 40px;
  padding: 5px 20px;

  .current-progress {
    display: inline-block;
    padding: 0 2em;
  }

  .navgiation {
    display: inline-block;
  }

  .actions {
    display: inline-block;
  }

  div {
    display: inline-block;
  }
}


// global

.hidden {
  display: none;
}
